In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
from pprint import pprint
import json
from datetime import datetime 

# Pull in UI DF
ui_csv = pd.read_csv("../Resources/ui_clean.csv")



# Add Weeknum column to Data / ISO week date standard (ISO-8601) / start Mon to end Sun
ui_csv['year'] = pd.DatetimeIndex(ui_csv['Reflecting Week Ended']).year
ui_csv.head()

# output csv file
# ad_csv.to_csv("Resources/ad_clean.csv", index=False)
# ad_csv

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate,Weeknum,year
0,California,2015-01-03,"40,784",2014-12-27,"420,154","15,245,478",2.76,52,2014
1,California,2015-01-10,"66,906",2015-01-03,"423,923","15,354,250",2.76,1,2015
2,California,2015-01-17,"62,191",2015-01-10,"464,163","15,354,250",3.02,2,2015
3,California,2015-01-24,"40,605",2015-01-17,"390,977","15,354,250",2.55,3,2015
4,California,2015-01-31,"58,673",2015-01-24,"468,557","15,354,250",3.05,4,2015

In [7]:
# Anxiety & Depression DF
ad_csv = pd.read_csv("../Resources/ad_clean.csv")
ad_csv.tail()

,Indicator,Group,State,Subgroup,Week,Week Label,Value,Low CI,High CI,Confidence Interval,Quartile range,Weeknum
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,2020-04-23,23.5,22.7,24.3,22.7 - 24.3,NaN,17
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,2020-04-23,32.7,30.2,35.2,30.2 - 35.2,NaN,17
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,2020-04-23,25.7,24.1,27.3,24.1 - 27.3,NaN,17
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,2020-04-23,24.8,23.3,26.2,23.3 - 26.2,NaN,17
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,2020-04-23,23.2,21.5,25.0,21.5 - 25.0,NaN,17